<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myboard">

	<select id="selectList" resultType="MYBOARD">
		SELECT MYNO, MYNAME, MYTITLE, MYCONTENT, MYDATE
		FROM MYBOARD
		ORDER BY MYNO DESC
	</select>
	
	<select id="selectOne" resultType="MYBOARD">
		SELECT *
		FROM MYBOARD
		WHERE MYNO = #{MYNO}
	</select>
	
	<insert id="insert" parameterType="MYBOARD">
		INSERT INTO MYBOARD
		VALUES (MYNOSEQ.NEXTVAL, #{MYNAME}, #{MYTITLE}, #{MYCONTENT}, SYSDATE)
	</insert>
	
	<update id="update" parameterType="MYBOARD">
		UPDATE MYBOARD
		SET MYNAME = #{MYNAME},
			MYTITLE = #{MYTITLE},
			MYCONTENT = #{MYCONTENT}
		WHERE MYNO = #{MYNO}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM MYBOARD
		WHERE MYNO = #{MYNO}
	</delete>

</mapper>
