<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<context:component-scan base-package="com.edu"></context:component-scan>
	
	<!-- width : 3 / height : 5 -->	
	<bean id="rect" class="com.edu.entity.Rectangle">
		<property name="title" value="사각형"></property>
		<property name="width" value="3"></property>
		<property name="height" value="5"></property>
	</bean>
	
	<bean id="tri" class="com.edu.entity.Triangle">
		<property name="title" value="삼각형"></property>
		<property name="width" value="3"></property>
		<property name="height" value="5"></property>
	</bean>
	
<!-- 	<bean id="myAspect" class="com.edu.aop.MyAspect"></bean>
	
	<aop:config>
		<aop:pointcut expression="execution(* viewSize())" id="viewPoint"/>
		<aop:aspect ref="myAspect">
			<aop:before method="before" pointcut-ref="viewPoint"/>
			<aop:before method="after" pointcut-ref="viewPoint"/>
		</aop:aspect>
	</aop:config> -->

</beans>
